{% extends 'base/base.html' %}

{% block content %}

<main class="page-wrapper px-3">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>{{title}}</h1>
    </div>
      <hr>
        <div class="container-fluid">
              <table class="table table-sm table-bordered bg-light">
                <thead>
                <tr>
                  <th scope="col">Şube</th>
                  <th scope="col">İsim</th>
                  <th scope="col">T.C</th>
                  <th scope="col">Meslek</th>
                  <th scope="col">Evraklar</th>
                  <th scope="col">Bordro</th>
                </tr>
                </thead>
                <tbody>
                  {% for bordro in bordrolar  %}
                <tr>
                  <td>{{bordro.personel.sube.isim}}</td>
                  <td scope="row"> <a href="{% url 'personel' personel_pk=bordro.personel.pk %}">{{bordro.personel.isim}} <a/></td>
                  <td>{{bordro.personel.tc}}</td>
                  <td>{{bordro.personel.meslek}}</td>
                  <td>{{bordro.personel.tamamlandi}}</td>
                  <td> {% if bordro.geldi  %} Geldi {% else %} <span class="bg-danger text-white">Gelmedi </span>{% endif %} </td>             
                </tr>
                {% endfor %}
                </tbody>
              </table>  
            </div>  
        </div>
    
   
    </main>

{% endblock content %}