{% extends 'base/base.html' %}

{% block content %}

<main class="page-wrapper px-3">
    <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Tanımlamalar</h4>
            <div class="ms-auto text-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'main' %}">Anasayfa</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Tanımlamalar
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales Cards  -->
        <!-- ============================================================== -->
        <div class="row">
          <!-- Column -->
          <div class="col-3">
            <div class="card card-hover">
                <a href="{% url 'mukellef_tanımlama' %}">
              <div class="box bg-cyan text-center">
                <h1 class="font-light text-white">
                  <i class="mdi mdi-view-dashboard"></i>
                </h1>
                <h6 class="text-white">Mükellef</h6>
              </div>
            </a>
            </div>
          </div>
          <!-- Column -->
          <div class="col-3">
            <div class="card card-hover">
                <a href="{% url 'sube_tanımlama' %}">
              <div class="box bg-success text-center">
                <h1 class="font-light text-white">
                  <i class="mdi mdi-chart-areaspline"></i>
                </h1>
                <h6 class="text-white">Şube</h6>
              </div>
            </a>
            </div>
          </div>
          <!-- Column -->
          <div class="col-3">
            <div class="card card-hover">
              <a href="{% url 'personel_tanımlama' %}">
              <div class="box bg-warning text-center">
                <h1 class="font-light text-white">
                  <i class="mdi mdi-collage"></i>
                </h1>
                <h6 class="text-white">Personel</h6>
              </div>
            </a>
            </div>
          </div>

 

</main>

{% endblock content %}